/*This class is for the separate sections of the entire application*/
.quiz-page {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/*This class is used with JavaScript to hide screens until they are needed or not needed*/
.hide {
    display: none;
}

/*styles the main heading*/
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*id styling for all of the questions on the page*/
#question {
    font-size: 20px;
    margin-bottom: 15px;
    display: block;

}

/*styles the timer element on the screen*/
#timer {
    float:right;
    font-size: 18px;
    margin: 10px;
}

/*styles all of the buttons found on the page*/
button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: red;
}

/*psuedo-class for starting button and submit button*/
button:hover {
    background-color: green;
}

#save-score {
    font-size: 16px;
}

/*styling for the initials input form element on the game over screen*/
form {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}